.btn, button {
    display: flex;
    align-items: center;
    appearance: none;
    border: none;
    background: none;
    padding: 0;
    cursor: pointer;
    
    &:not(.btn--blank) {
        width: fit-content;
        height: fit-content;
        padding: .4rem 3rem;
        background-color: $blue500;
        border-radius: 120px;
        white-space: nowrap;
        font-weight: 700;
        color: $blue100;
    }
    
    &--icon {
        position: relative;
        padding-left: 2.8rem !important;
        padding-right: 1rem !important;
        
        box-icon {
            position: absolute;
            left: calc(.6rem - 0px);
            fill: $blue100;
            width: 19px;
            height: 19px;
        }
    }
    
    &--sub {
        background-color: #aababc !important;
    }
}

.btn-group {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}