[data-access="adminPane"] {
    [data-label="userConfig"] [data-label="userList"] {
        padding: 1rem;
        background-color: $blue100;
        border-radius: 15px;
        // height: 100%;
    }
    
    [data-label="userConfig"] [data-label="userList"] ul {
        list-style: none;
        margin: 0px;
        padding: 0px;
        border-radius: 20px;
        
        .item {
            margin-bottom: 0.5rem;
            font-weight: bold;
            color: $blue500;
            overflow: visible;
            background-color: transparent;
            
            &:last-child {margin-bottom: 0;}
            
            label {width: 100%;}
            
            .item__wrapper {
                padding: 0px;
                justify-content: unset;
                background-color: transparent;
                // border: 2px solid $blue200;
                border-radius: 10px;
                transform-origin: center left;
            }
            
            input {display: none;}
            input:checked + .item__wrapper {
                background-color: $blue200;
                // transform: scale(1.1);
            }
            
            &__icon {
                margin-right: 0;
                
                .bx {
                    padding: 0px;
                    background-color: transparent;
                    color: $blue500;
                }
            }
        }
        
    }
    
    form[data-form="userConfig"] [data-label="configGroups"] table {
        font-weight: 500;
        
        tr > td:nth-child(1) {width: 100%;}
        
        tr input {display: none;}
        
        tr input + span {
            display: block;
            padding: .4rem;
            border-radius: 10px;
        }
        
        tr input:checked + span {
            background-color: $blue200;
        }
    }
}

[data-modal="adminPane"] .modal-content {
    max-height: 90vh;
    padding: 0px;
    overflow: scroll;
    
    --tab-pane-spacing: 2rem;
    
    nav {
        .nav-tabs {
            border: none;
            text-transform: uppercase;
            letter-spacing: 1px;
            font-size: 90%;
            font-weight: 600;
        }
        
        .nav-link {
            border: none;
            
            &:hover {
                border: none;
            }
            
            &:first-child {
                margin-left: var(--tab-pane-spacing);
            }
        }
        
        .nav-link.active {
            background-color: $blue000;
            color: $blue400;
        }
        .nav-link:not(.active) {color: $blue300;}
    }
    
    .tab-pane {
        padding: var(--tab-pane-spacing);
        background-color: $blue000;
    }
}

[data-label="configGroups"] table, table[data-label="configGroups"] {
    font-weight: 500;
        
    tr > td:nth-child(1) {width: 100%;}
    
    tr input {display: none;}
    
    tr input + span {
        display: block;
        padding: .4rem;
        border-radius: 10px;
    }
    
    tr input:checked + span {
        background-color: $blue200;
    }
}