[data-section="step2"] {
    header {
        background-color: $grey200;
    }
    
    
    [data-form="newBudget"] {
        .body__prepend input {
            font-size: 1.25rem;
            font-weight: bold;
            color: $blue500;
            min-height: unset;
            
            &::placeholder {
                color: $blue500;
            }
            
            & + .form-text {
                font-size: .8rem !important;
            }
            
            &.small {
                font-size: 14px;
                font-weight: 500;
            }
        }
        
        .body__append {            
            text-align: unset;
        }
    }
}