[data-section="step3"] {
    header {
        background-color: $grey200;
    }
    
    [data-form="newCost"] {
        .body__prepend input {
            font-size: 1.25rem;
            font-weight: bold;
            color: $blue500;
            min-height: unset;
            
            &::placeholder {
                color: $blue500;
            }
            
            & + .form-text {
                font-size: .8rem !important;
            }
            
            &.small {
                font-size: 14px;
                font-weight: 500;
            }
        }
        
        .body__append {            
            text-align: unset;
        }
    }
    
    [data-label="costsList"] {
        .item {
            display: flex;
            flex-direction: column;
            padding: 0;
            
            .item__body {
                padding: 1.2rem 1.4rem 1.4rem 1.4rem;
            }
            
            hr {
                margin-top: 0;
                margin-left: 1.4rem; margin-right: 1.4rem;
            }
            
            .item__behind {
                padding: 0 1.4rem 1.2rem 1.4rem;
            }
            
            .body__prepend {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: center;
            }
            
            .body__prepend h5, .body__append h5 {
                margin-bottom: 0.2rem;
                font-weight: bold;
            }
            
            *:not(.btn):not(.bx) {color: $blue500}
            
            [data-collapse] {
                width: 100%;
            }
            
            &__behind {
                width: 100%;
            }
        }
    }
}