// STEPS

[data-section="step0"] {
    // display: grid;
    // place-items: center;
    
    [data-form="logIn"] {
        input {background-color: $blue100;}
    }
    
    .card {
        padding: 2rem;
        width: fit-content;
        background: none;
    }
    
    .login-wrapper {
        // backdrop-filter: blur(10px);
        // background-color: #e1e9ea77;
        // border-radius: $bd-radius;
        
        .spinner-border {color: $blue500;}
        
        &.login-wrapper--validating {
            [data-form="logIn"] {display: none;};
            [data-label="logInLoader"] {display: flex;};
        }
        &.login-wrapper--form {
            [data-form="logIn"] {display: block;};
            [data-label="logInLoader"] {display: none;};
        }
    }
}

[data-section="step1"] {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    @include flex-center;
    
    .wrapper {
        height: auto;
    }
}

[data-section="step1"] .form { 
    width: fit-content;
    margin: 0 auto;
      
    &__group {
        margin-right: 2rem;
        // max-width: fit-content;
        
        &:last-child {margin-right: 0;}
        
        input {display: none;}
        
        label {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 150px;
            padding: 1.5rem 2rem 1.2rem 2rem;
            background-color: $blue100;
            font-weight: bold;
            color: $blue500;
            text-align: center;
            border-radius: 26px;
        }
        
        svg {
            height: 100px;
            max-width: 100px;
            margin-bottom: 1rem;
            fill: $blue500 !important;
            
            * {fill: #4D777B !important;}
        }
    }
    
    &.change--changed {
        label {
            opacity: .5;
        }
        
        input:checked + label {
            opacity: 1;
        }
    }
}

[data-section="step2"] {
    [data-template-context="group"] {
        text-transform: capitalize;
    }
}

[data-section="shareNotFound"] {
    width: 100vw;
    height: 100vh;
}

// .form--embedded {
//     input {
//         all: inherit;
//     }
// }