* {
    transition: all .3s ease;
}

body {
    width: 100vw;
    height: 100vh;
    line-height: initial;
}

#app {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: inherit;
    height: inherit;
    
    > [data-section] {
        width: 100%;
        height: 100%;
    }
    
    #credits {
        padding: 1rem;
        font-weight: 500;
        color: $blue500;
    }
}