* {
    transition: all .3s ease;
}

body {
    width: 100vw;
    min-height: 100vh;
    line-height: initial;
    margin-bottom: 40px;
}

img {
    user-select: none;
    -webkit-user-drag: none;
    pointer-events: none;
    object-fit: cover;
    
    &.img--round {
        border-radius: 120px;
    }
}

#app {
    // display: flex;
    // flex-direction: column;
    // align-items: center;
    // justify-content: center;
    width: inherit;
    min-height: 100vh;
    // height: inherit;
    
    > [data-section] {
        width: 100%;
        min-height: 100vh;
    }
    
    #credits {
        padding: 1rem;
        font-weight: 500;
        color: $blue500;
    }
}

[data-label="fab"] {
    --m: 30px;
    
    position: fixed;
    right: var(--m);
    bottom: var(--m);
}

.loader-test {
    --s: 70px;
    --d: 10px;
    position: relative;
    width: var(--s);
    height: var(--s);
    
    &::after {
        content: " ";
        display: block;
        position: absolute;
        top: calc((var(--s)/2) - (var(--d)/2));
        background-color: #4d777bb9;
        height: var(--d);
        width: var(--d);
        border-radius: 100%;
        transform: rotate(0deg);
        transform-origin: calc(var(--s)/2);
        animation-name: loaderFirst;
        animation-duration: 2s;
        animation-iteration-count: infinite;
    }
    
    &::before {
        content: " ";
        display: block;
        position: absolute;
        top: calc((var(--s)/2) - (var(--d)/2));
        background-color: #4d777bb9;
        height: var(--d);
        width: var(--d);
        border-radius: 100%;
        transform: rotate(0deg);
        transform-origin: calc(var(--s)/2);
        animation-name: loaderFirst;
        animation-duration: 2s;
        animation-delay: 0s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
    }
}

@keyframes loaderFirst {
    0% {
        transform: rotate(0deg);
    }
    
    100% {
        transform: rotate(360deg);
    }
}