.btn {
    display: block;
    width: fit-content;
    height: fit-content;
    padding-left: 3rem; padding-right: 3rem;
    background-color: $blue500;
    border-radius: 120px;
    white-space: nowrap;
    font-weight: bold;
    color: $blue100;
    
    &:hover {
        color: $blue100;
    }
    
    &:focus, &:focus-within, &:active {
        outline: none;
        box-shadow: none;
    }
    
    &--nav-back {
        position: relative;
        padding: 0;
        background-color: transparent;
        font-size: 90%;
        font-weight: 500;
        color: $blue500;
        
        &:hover {
            color: $blue500;
        }
        
        .bx {
            position: absolute;
            top: 2px;
            right: 100%;
            padding-right: .5rem;
            color: $blue300;
        }
    }
    
    &--icon {
        position: relative;
        display: flex;
        align-items: center;
        padding-left: 2.8rem; padding-right: 1rem;
        text-align: right;
        
        .bx {
            position: absolute;
            left: .6rem;
            font-size: 1.2rem;
        }
    }
    
    &--icon-only {
        min-width: 38px;
        padding: .375rem;
    }
    
    &--collapse-toggle {
        width: 100%;
        margin-top: 1rem;
        padding: 1rem;
        border-radius: 20px;
        background-color: $blue100;
        text-align: left;
        color: $blue500;
        
        &:hover, &:active {
            color: $blue500
        }
        
        &:first-child {
            margin-top: 0;
        }
    }
}

.btn-group {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: fit-content;
    // padding: .5rem;
    // background-color: $blue100;
    // mix-blend-mode: multiply;
    border-radius: 120px;
    
    .btn {
        width: 100%;
        margin-top: 0 !important;
        margin-right: 1rem;
        border-radius: 120px !important;
        
        &:last-child {margin-right: 0;}
        
        &--sub {
            // background-color: transparentize($blue500, $amount: 0.5);
            background-color: #AABABC;
            // margin-right: 0rem;
        }
        
        &--fit {
            max-width: fit-content;
        }
    }
    
    &--floating {
        flex-direction: column;
        background-color: $blue300;
        border-radius: 28px;
        min-width: 228.27px;
                                
        > .btn {
            margin-right: 0px;
            margin-left: 0px !important;
            min-width: 100%;
            z-index: 1;
            
            .bx {
                position: absolute;
                top: 5px;
                right: 5px;
                @include flex-center;
                width: 25px;
                height: 25px;
                border-radius: 120px;
                font-size: 1.4rem;
            }
        }
        
        .btn-group__float {
            position: absolute;
            top: calc(100% - 19px);
            left: 0px;
            right: 0px;
            background: $blue300;
            padding: .7rem;
            padding-top: calc(19px + .7rem);
            border-radius: 0px 0px 30px 30px;
            
            .btn {
                min-width: 100%;
            }
        }
    }
}

@media (min-width: 576px) {}

@media (min-width: 768px) {}

@media (min-width: 992px) {
    .btn-group {
        .btn {
            width: fit-content;
        }
    }
}

@media (min-width: 1200px) {}