.card {
    position: relative;
    border: none;
    border-radius: $bd-radius;
    
    &__icon#{&}__icon--top .bx {
        position: absolute;
        top: calc(48px/2*-1);
        left: calc(50% - (48px/2));
        padding: .5rem;
        background-color: $blue200;
        font-size: 32px;
        border-radius: 120px;
        color: $blue500;
    }
}