.modal {
    $modal-padding: 1rem;
    
    &-title {
        font-weight: bold;
        margin: 0 auto;
    }
    
    &-header, &-footer, &-body {
        border: none;
    }
    
    &-content {
        padding: $modal-padding;
        background-color: rgba(255, 255, 255, 0.445);
        backdrop-filter: blur(12px);
        border: none;
        border-radius: $bd-radius;
        @include shadow-lg;
    }
    
    input {
        background-color: $blue200;
    }
    
    &-backdrop.show {
        opacity: .15;
    }
}