body.modal-open #app {
    filter: blur(4px);
}

.modal {
    $modal-padding: 1rem;
    
    &-title {
        font-weight: bold;
        margin: 0 auto;
    }
    
    &-header, &-footer, &-body {
        border: none;
    }
    
    &-content {
        padding: $modal-padding;
        background-color: rgb(255, 255, 255);
        // backdrop-filter: blur(12px);
        border: none;
        border-radius: $bd-radius;
        @include shadow-lg;
    }
    
    input {
        background-color: $blue200;
        border: 2px solid #e1e9ea;
    }
    
    &-backdrop.show {
        opacity: .15;
        // backdrop-filter: blur(12px)
    }
}