.toasts {
    position: fixed;
    left: 0px; right: 0px; 
    bottom: 0px;
    display: flex;
    justify-content: center;
    // padding: 2rem;
    z-index: 20000;
    
    &__wrapper {
        width: fit-content;
    }
    
    .toast {
        --timer-duration: 2000ms;
        
        position: relative;
        margin-bottom: 1.4rem;
        max-width: 95vw;
        width: 500px;
        // width: fit-content;
        background-color: #f8f8f8;
        border-radius: 8px;
        border: none;
        
        &:last-child {
            margin-bottom: 0;
            border-radius: 8px 8px 0px 0px;
        }
        
        &__wrapper {
            position: relative;
            display: flex;
            align-items: center;
            padding: 1rem 1rem 1rem .6rem;
            z-index: 1;
        }
        
        &__timer {
            position: absolute;
            left: 0px; right: 0%;
            top: 0px; bottom: 0px;
            // background-color: #ececec;
            background-color: $blue200;
            animation-name: toastTimer;
            animation-duration: var(--timer-duration);
            animation-fill-mode: forwards;
        }
        
        &__title {
            margin-bottom: 0.3rem;
            font-size: 90%;
            font-weight: bold;
            color: $blue500;
            text-transform: uppercase;
            letter-spacing: 2px;
            
            &:last-child {
                margin-bottom: 0;
            }
        }
        
        &__body * {
            font-size: 96%;
            color: #545454;
            color: #838383;
            // color: $blue300;
            font-weight: 600;
            
            &:last-child {margin-bottom: 0;}
        }
        
        [data-action="closeToast"] {
            display: flex;
            align-items: center;
            margin-right: 0.6rem;
            height: 100%;
            cursor: pointer;
        }
    }
}

@keyframes toastTimer {
    0% {
        right: 0%;
    }
    100% {
        right: 100%;
    }
}