.form {
    &--inline {
        .form__fields {
            display: flex;
            column-gap: 1rem;
        }
        
        .input-field, .select-field {
            margin-top: 0 !important;
        }
    }
    
    button[type="submit"] {
        margin-top: 1rem;
    }
}